streamlit
pandas
requests
matplotlib
numpy
streamlit_echarts
pyecharts 
python-dotenv
google-generativeai
PyPDF2 
pdfplumber
openai
langchain
langchain-community 
langchain-core
pypdf
tiktoken
faiss-cpu
transformers
beautifulsoup4
elevenlabs
pygame
pydub
playsound
langchain_openai
chromadb
langsmith
httpx==0.27.0
langfuse
